a
{
  text-decoration: none;
  color: #043B6F;
}
a:active
{
  color: #8298B5;
  text-decoration: underline;
}
a:visited
{
  color: #043B6F;
}
a:hover
{
  text-decoration: underline;
}

body
{
  margin: 16px;
  font-family: verdana, arial, helvetica, sans-serif;
  line-height: 16px;
  font-size: 11px;
  background-color: white;
  background-image: url(images/light_background.jpg);
  background-repeat: no-repeat;
  background-position: 160px 80px;
}

div#left
{
  float: left;
  margin: 8px 0px;
  background-color: transparent;
}
div#nav
{
  padding: 8px;
  border: 1px solid #333;
  width: 152px;
}
div#nav .title
{
  border-bottom: solid 1px #C3CFE5;
  text-align: left;
  margin-bottom: 0px;
  color: #333;
  font-weight: bold;
}
div#nav .content
{
  padding: 0px 0px 8px 8px;
}

div.iconLink
{
  margin: 9px 8px 8px 0px;
}

div#main
{
  border: 1px solid #333;
  padding: 8px;
  margin: 8px 0px 8px 180px;
  background-color: transparent;
}
div#main .title
{
  border-bottom: solid 1px #C3CFE5;
  text-align: left;
  width: 300px;
  margin-bottom: 0px;
  color: #333;
  font-weight: bold;
}
div#main .content
{
}
div#main .poster
{
  color: #777;
  font-size: 10px;
  border-bottom: solid 1px #C3CFE5;
  width: 300px;
}
